* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --space: 1rem;
}

::-webkit-scrollbar {
    display: none;
}

html,body {
    height: 100%;
    width: 100%;
}

.landing {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("Serpent-Eagle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery-text {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 20em;
    background-color: rgba(0, 139, 139, 0.644);
    height: 10em;
}

.gallery-text h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.scroll-snap {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--space);
}

.scroll-snap>* {
    scroll-snap-align: start;
}

.h-scroll>div {
    background-color: black;
    padding: var(--space) 0;
    transition: background-color 0.3s;
    display: grid;
    grid-auto-flow: column;
    gap: var(--space);
    grid-auto-columns: repeat(5, 1fr);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.h-scroll>div>img {
    width: 40em;
    padding-left: var(--space);

}

.h-scroll>div:hover {
    background-color: #1B1B1B;
}